@import "../styles/mixins.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, san-serif;
}

.bold {
    font-weight: 500;
}
.container {
    display: grid;
    grid-template: repeat(2, auto) 50px 50px repeat(4, auto)/ 1fr 8fr 1fr;
    background-color: #000;
    @include width550 {
        grid-template-columns: 1fr;
    }
    @include width400 {
        grid-template-rows: repeat(2, auto) 20px 20px repeat(4, auto);
    }
}


footer {
    grid-area: 6 / 1 / 6 / 4;
    
    .social {
        margin: 2em auto;
        width: 30%;
        font-size: 4em;
        display: flex;
        justify-content: space-around;
        a {
            color: #ccc;
        }
        
        @include width1580 {
            width: 40%;
        }
        @include width1305 {
            width: 50%;
            margin-top: 1em;
        }
        @include width970 {
            width: 60%;
        }
        @include width780 {
            margin-top: 0;
            width: 70%;
        }
        @include width654 {
            margin-top: 0;
            width: 80%;
        }
        @include width600 {
            margin-top: 0;
            width: 80%;
            font-size: 2em;
        }
    }
}
